 body {
    height: 100%;
}

body {
    background: linear-gradient(to right, #0664A4, #12A1E7, #05B1BF, #8EDEF7, #ECFAFD);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #ffffff;
    width: 400px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}